<div class="container">
	<div class="row">
		<div class="top-message col-md-offset-1 col-md-10">
      <%= flash[:notice] %>
			<table class="table table-condensed">
         <thead>
                <tr>
                <th><h2><strong style="font-family: 'Kaushan Script', cursive;">My Page</strong></h2></th>
                 </tr>
                 <tr>
                 	<th><h2><strong style="font-family: 'Kaushan Script', cursive;">登録情報</strong></h2></th>
                    <th>
                 	 <div class="col-xs-12">
                 	 	<%= link_to '編集する', edit_end_user_path,class: "btn btn-warning col-xs-12" %>
                     </div>

                    </th>
                    <th>
                     <div class="col-xs-12">
                 	 	<%= link_to 'パスワードを変更する', edit_end_user_password_path,class: "btn btn-warning col-xs-12" %>

                     </div>
                    </th>
                </tr>
               </thead>
               <tbody>
               	<tr>
               		<td class="titl">
               			<strong>氏名</strong>
               		</td>
               		<td>
               			<%= @end_user.first_name %>
               			<%= @end_user.last_name %>

               		</td>
               	 </tr>
               	 <tr>
               	 	<td class="titl">
               	 		<strong>カナ</strong>
               	 	</td>
               		<td>
               		    <%= @end_user.first_name_kana %>
               			<%= @end_user.last_name_kana %>

               		</td>
               	</tr>
               	<tr>
               		<td class="titl"><strong>郵便番号</strong></td>
               		<td><%= @end_user.postal_code %></td>
               	</tr>
               	<tr>
               		<td class="titl">
               			<strong>住所</strong>
               		</td>
               		<td><%= @end_user.address %></td>
               	</tr>
               	<tr>
               		<td class="titl"><strong>電話番号</strong></td>
               		<td><%= @end_user.phone %></td>
               	</tr>
               	<tr>
               		<td class="titl"><strong>メールアドレス</strong></td>
               		<td><%= @end_user.email %></td>
               	</tr>
               	<tr>
               		<td class="titl"><h3><strong>配送先</strong></h3></td>
               		<td> <%= link_to '一覧を見る',addresses_path, class: "btn btn-warning col-xs-12" %>
               		</td>
               	</tr>
               </tbody>
            </table>
		</div>
	</div>
</div>