<div class="container">
  <div class="row">
    <div class="top-message col-md-offset-1 col-md-10">

    	<table class="table">
				<tbody>
                    <tr>
                      <td class="item-picture">
                         <%= attachment_image_tag @image, :profile_image, :fill, 400,400,format:"jpeg", fallback:"no_image.jpg" %>
                      </td>

                      <td>
                        <div style="font-size: 5px; margin-left: 10px">
                      	  <p>説明文：</p>
                            <%= @item.description %>
                      	</div>
                      </td>
                    </tr>
                    <tr>
                    	<td colspan="1" style="text-align: center;"><strong><%= @item.name %></strong></td>
                    	<td>
                        <strong  style="color: orange; text-decoration: underline;">￥<%= (@item.notax_price*1.10).to_i%>円</strong>（税込み）</td>
                    </tr>
                    <tr>
                       <%= form_with model: @cart_item, local:true do |f| %>

                    	<td>
                         <strong class=" alert-danger"><%= notice %></strong>
                        <%= f.select :amount,[["1", "1"], ["2", "2"],  ["3", "3"], ["4", "4"],["5", "5"]] , :prompt => "個数を選択してください" %> 個
                      </td>

                    	<td>
                        <%= f.submit "カートに入れる",class:"btn btn-warning" %>
                        <%= f.hidden_field :item_id, value: @item.id %>
                      </td>
                          <% end %>

                    </tr>
          </tbody>
        </table>
    </div>
  </div>