<div class="containerr">
      <div id="theTarget">
        <div style="background-image: url(<%= asset_path "main_top_03.jpg" %>);">
        </div>
        <div style="background-image: url(<%= asset_path "itigo-cake.jpg" %>);"></div>
        <div style="background-image: url(<%= asset_path "taruto.jpg" %>);"></div>
        <div style="background-image: url(<%= asset_path "tarutoyoko.jpg" %>)"></div>
        <div style="background-image: url(<%= asset_path "image2.jpg" %>);"></div>
      </div>
</div>
<body style="background-color: black; color: white; ">
  <div class="container">
  <div class="row" style="margin-top: 100px;">
    <div class="col-xs-12">
      <div class="sub-picture">
        <div class="table-picture">
          
        </div>
       <p class="title" style="text-align: center;"><strong>ジャンルの選択</strong></p>
       <p class="2" style="text-align:center ;"><strong>当店のラインナップはこちら💛</strong></p>
      </div>
       <div class="login-title">
        <div>
        <%= link_to '会員登録', new_end_user_registration_path,class: "btn btn-success" %>
        <%= link_to 'ログイン',  new_end_user_session_path,class: "btn btn-success" %>
        </div>
       </div>
       <div class="genres-item" style="text-align: center;">
         <% @genres.each do |genres| %>
          <div class= "genre-image"style="display: inline-block; margin-left: 30px;">
            <%= attachment_image_tag genres, :image, :fill, 300,300 %>
          <div class="genre-name">
             <%= genres.name %>
          </div>
          </div>
          <% end %>
       </div>

    </div>

    <span id="back">
      <a href="#">
        <%= image_tag 'arrow.png' %>
      </a>
    </span>
  </div>
</div>

<%= javascript_include_tag 'fuga.js' %>
<%= javascript_include_tag 'item.js' %>

</body>