<div class="containerr">
      <div id="theTarget">
        <div style="background-image: url(<%= asset_path "main_top_03.jpg" %>);">
        </div>
        <div style="background-image: url(<%= asset_path "itigo-cake.jpg" %>);"></div>
        <div style="background-image: url(<%= asset_path "taruto.jpg" %>);"></div>
        <div style="background-image: url(<%= asset_path "tarutoyoko.jpg" %>)"></div>
        <div style="background-image: url(<%= asset_path "image2.jpg" %>);"></div>
      </div>
</div>
<body style="background-color: black; color: white; ">
  <span class="contents" style="position: absolute; top: 70%;">
  <h1 style="margin-left: 30px; ">ケーキ検索一覧</h1>
  <%= text_field_tag :name,'', class: 'js-text_field', placeholder: '検索したいケーキを入力してください' %>
   <ul class="js-messages">
    <%= render partial: 'message', collection: @messages %><!-- 部分テンプレートを呼び出し-->
  </ul>
</span>

  <div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="sub-picture">
        <div class="table-picture">
        </div>
       <p class="title" style="text-align: center; font-family: 'Kaushan Script', cursive;"><strong>Select Genre</strong></p>
       <p class="2" style="text-align:center ;"><strong>当店のラインナップはこちら💛</strong></p>
      </div>
       <div class="login-title">
        <div>
        <%= link_to '会員登録', new_end_user_registration_path,class: "btn btn-success" %>
        <%= link_to 'ログイン',  new_end_user_session_path,class: "btn btn-success" %>
        </div>
       </div>
       <% @genres.each do |genres| %>
          <div class="genres-item" style="display: inline-block;">
          <div class= "genre-image" id=<%= "genre__favorite--" + genres.id.to_s %>>
             <%= link_to genre_path(genres),method: :get do %>
               <%= attachment_image_tag genres, :image, :fill, 370,370 %>
             <% end %>
             <figcaption>
               <h2>店長おすすめ</h2>
               <p>Nothing I do is my fault. </p>
             </figcaption><a href="#"></a>
          <div class="genre-name" style="text-align: center;">
             <%= genres.name %>
          </div>
          </div>
       </div>
         <% end %>
   </div>

    <span id="back">
      <a href="#">
        <%= image_tag 'arrow.png' %>
      </a>
    </span>
  </div>
</div>

<%= javascript_include_tag 'fuga.js' %>
<%= javascript_include_tag 'item.js' %>

</body>